name: another_transformer_page_view
description: Yet another pageTransformer for flutter with null-safety support
version: 2.0.1
repository: https://github.com/juliansteenbakker/another_transformer_page_view

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  lint: ^1.10.0